@font-face {
    font-family: Kanit-Italic;
    src: url(../../fonts/Kanit-Italic.ttf);
}

*{
    font-family: Kanit-Italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../media/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    height: 100vh;

   
}



#boxGeneral{
    display: flex;
}

#boxCentral{
    margin: auto;
    
}

#header{
    
    background-color: #38015471;
    color: white;
    font-weight: bold;

    width: 100vw;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;

    box-shadow: 1px 10px 10px #27077462;

    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

}

#header p{
    clear: left;
    cursor: default;
}


.card{
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.card-body{
    background-color: #18024bbb;
    
}


#btn-card{
    background-color: #3f218191;
    color: white;
    font-weight: bold;
    border: 1px solid #7f60d6;
}

#btn-card:hover{
    background-color: rgba(99, 0, 192, 0.815);
    color: rgb(255, 255, 255);
}

#btn-card:active{
    background-color: rgba(99, 0, 192, 0.856);
    color: rgb(255, 255, 255);
    border: inset 1px;
}

