@font-face {
    font-family: Kanit-Italic;
    src: url(../../fonts/Kanit-Italic.ttf);
}



*{
    font-family: Kanit-Italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

html,body{
    background-image: url("../media/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 30%;
}

#boxGeneral{
    display: flex;
}

#boxCentral{
    margin: auto;
    
}

#header{
    
    background-color: #173a4150;
    color: white;
    font-weight: bold;

    width: 100vw;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;

    box-shadow: 1px 10px 10px #eb13459d;

    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

}

header p{
    clear: left;
    cursor: default;
}

header button{
    
    float: left;
    position: absolute;
    left: 0;
    top: 0;

    
}


#btn-home{
    background-color: #4b37386e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 2%;
    margin-top: 1.5%;
    margin-left: 5%;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: smaller;
    float: left;
    left: 0;
    position: absolute;
    
}

#btn-home:active{
    background-color: #4b3738b4;
    border: inset 1px;
}

#btn-play{
            
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f93966b6;

    
    border: 2px outset #0e65acbd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 20%;
    margin: auto;

    border-radius: 1em;
    color: black;

    cursor: pointer;
}

#btn-play:active{
    background-color: #a9dee494;
    border: inset;
    color: white;
}

#button-next{
    display: flex;
}

#btn-next{

    margin: auto;
    margin-top: 3em;
    background-color: #b83856;
    color: white;
    
    border: outset 2px #ca08358c;
    
    

}

#btn-next:hover{
    background-color: #0d2938be;
    border: outset 2px #0d2938be;
    
}

#btn-next:active{
    background-color: #0d3e58be;

    border: inset;
    color: white;
}

#text-screen{
    
    
    background-color: #f9396688;
    
    padding: 20%;
    padding-top: 0%;
    width: 90%;
    margin-top: 7em;
    padding-bottom: 0;
    height: 20em;
    text-align: center;
    border-radius: 5em;
    border: 2px solid transparent;
    box-shadow: 1px 10px 10px #f10d42d8;
    
}

#text-div{

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    margin: auto;
    
}

#text{
    
    margin-top:50%;
    margin-bottom: 50%;
    font-size: 1.5em;
    color: rgb(255, 255, 255);

}

#player{
    margin: auto;
    margin-top: 5%;
}

#player-text{

    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    
    margin: auto;
    margin-top: 5%;
    width: 40%;
    
    background-color: #c7063388;
    border-radius: 1em;
    backdrop-filter: blur(1px);
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 2%;
    cursor: pointer;
}

#help{
    width: 80%;
    color: white;

    margin-top: 15%;
}

#help li{
    margin-top: 10%;
}

#help dl{
    margin-top: 3%;
}