@font-face {
    font-family: Kanit-Italic;
    src: url(../../fonts/Kanit-Italic.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Kanit-Italic;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: url("../images/fondo1.jpg");
    background-size: cover
}

#load{
    position: absolute;
    float: left;
    background-color: rgba(94, 94, 94, 0.863);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#load div{
    margin: auto;
}
#load span{
    margin: auto;
}

.spinner-border{
    width: 5em;
    height: 5em;
}

/* Cabecera */

header{
    margin: auto;
    margin-top: 0;
}

#cabeza {
    display: flex;
    background-color: #3a2939;
    width: 100%;
    height: 8%;
    color: white;
    text-align: center;
    border-bottom-left-radius: 1.5em;    
    border-bottom-right-radius: 1.5em;
    backdrop-filter: blur(15px);
}

#cabezatx{
    cursor: pointer;
    /* clear: left; */
    margin: auto;
}

#caja {
    margin: auto;
    width: 40%;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    text-align: center;
}


#btn-home{
    background-color: #493448;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 2%;
    margin-top: 1.5%;
    margin-left: 5%;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: smaller;
    float: left;
    left: 0;
    position: absolute;
    text-decoration: underline;
    
}
/* Jugador */

#jugador{
    margin-top: 5%;
    display: flex;
    color: white;
}


.jugador{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#jugadortx{
    margin: auto;
    margin-top: 10%;
    width: 40%;
    background-color: #493448;
    ;
    border-radius: 1em;
    backdrop-filter: blur(10px);
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 2%;
    cursor: pointer;
}

/* Preguntas */

#preguntas{
    
    
    background-color: #c7d0d8;
    display: flex;    
    padding: 20%;
    padding-top: 0%;
    width: 90%;
    margin-top: 1em;
    padding-bottom: 0;
    height: 20em;
    text-align: center;
    border-radius: 5em;
    border: 0.4em solid #a2aeb9;
    flex-direction: row;
}

#botonera{
    position: absolute;
    left: 9vw;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 40vh;

    display: flex;
    flex-direction: column;
}

.btn-point{
    background-color: #493448;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;

    width: 10vw;
    padding: 10%;
/*     
    margin-top: 1.5%;
    margin-left: 5%;
    top: 0;
    left: 0; */

    cursor: pointer;

    font-size: smal;

}

#TextPregunta{
    font-size: 1.5em;
}

#TextCastigo{
    font-size: 1.5em;
}


#TextTipo{
    margin: auto;
    margin-top: 22%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
    
}

#divisor{
    display: flex;
    flex-direction: row;
}

#tipo{
    margin-top: 2em;
}

#tablero{
    margin: auto;
}



/* Botones */

#divBotones{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#botones{
    
    margin: auto;
    display: flex;
}

#botones button{

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-left: 1em;
    margin-right: 1em;
}

#reto{
    background-color: #b102f7;
    border-color: #b102f7;
}

/* pie */

#pie {
    
    margin-top: 2em;
    width: 100%;
    height: 15%;
    background-color: #7E40C2;
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
    display: flex;
}

#Dx {
    margin: 12%;
    float: left;
}

#Js {
    margin: 12%;
    float: right;
}

a{
    text-decoration: none;
    color: beige;
    background-color: gray;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 20%;
    height: 25%;
    margin: 2%;
    text-align: center;
}

.neon {
    font-size: 40px;
    letter-spacing:-4px;
    color: #fff;
    text-shadow: 0 0 5px rgb(139, 103, 103), 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
    -webkit-text-fill-color: #7e5fac;
    -webkit-text-stroke-color:#9f26cf;
    -webkit-text-stroke-width:0.2px;
    -moz-text-fill-color: #d9c7f3;
    -moz-text-stroke-color:#7c06aa;
    -moz-text-stroke-width:0.2px;
    }