@font-face {
    font-family: Kanit-Italic;
    src: url(../../fonts/Kanit-Italic.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Kanit-Italic;
    font-display: swap;
    scrollbar-width: none;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: url("../images/fondo1.jpg");
    background-size: cover
}



.spinner-border{
    width: 5em;
    height: 5em;
}

/* Cabecera */

header{
    margin: auto;
    margin-top: 0;
}

#cabeza {
    display: flex;
    background-color: #3a2939;
    width: 100%;
    height: 8%;
    color: white;
    text-align: center;
    border-bottom-left-radius: 1.5em;    
    border-bottom-right-radius: 1.5em;
    backdrop-filter: blur(15px);
}

#cabezatx{
    cursor: pointer;
    /* clear: left; */
    margin: auto;
}

#caja {
    margin: auto;
    width: 40%;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    text-align: center;
}


#btn-home{
    background-color: #493448;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 2%;
    margin-top: 1.5%;
    margin-left: 5%;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: smaller;
    float: left;
    left: 0;
    position: absolute;
    
}

#info{
    float: left;
    bottom: 0;
    left:5%;
    position: absolute;
    text-decoration: solid;
    color: black;
}
/* Jugador */

#jugador{
    margin-top: 5%;
    display: flex;
    color: white;
}


.jugador{
    position: absolute;

    text-align: center;
}

#jugadorActualtx{
    margin: auto;
    margin-top: 10%;
    width: 40%;
    background-color: #493448;
    ;
    border-radius: 1em;
    backdrop-filter: blur(10px);
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 2%;
    cursor: pointer;
}

#jugadorSiguientetx{
    margin: auto;
    margin-top: 10%;
    width: 40%;
    background-color: #493448;
    ;
    border-radius: 1em;
    backdrop-filter: blur(10px);
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 2%;
    cursor: pointer;
}

#box{
    display: flex !important;
    width: 100%;
}

.box-text{
    width: 50vw !important;
    text-align: center;
}

.box-text:first-child{
    margin-left: 5%;
}

/* Preguntas */

#preguntas{
    
    
    background-color: #c7d0d834;
    color: black;
    display: flex;    
    padding: 20%;
    padding-top: 0%;
    width: 90%;
    margin-top: 7em;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 20em;
    text-align: center;
    border-radius: 5em;
    border: 0.4em solid #a2aeb946;
    flex-direction: row;
}

#botonera{
    position: absolute;
    left: 9vw;
    top: -5%;
    bottom: 48%;
    margin: auto;
    margin-top: 40vh;

    display: flex;
    flex-direction: column;
}

.btn-point-disabled{

    background-color: #5a4f59;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1em;

    width: 15vw;
    padding: 30%;

    cursor: no-drop;



}


.btn-point{
    background-color: #493448;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1em;

    width: 15vw;
    padding: 30%;

    cursor: pointer;


}

.btn-point:first-child , .btn-point-disabled:first-child{
    margin-bottom: 20%;
}

.btn-point:last-child , .btn-point-disabled:last-child{
    margin-bottom: 20%;
}

.btn-point:hover{
    background-color: #5a4f59;
}

.btn-point:active{
    background-color: #775976;
}

#TextPregunta{
    font-size: 1.5em;
    color: white;
}

#TextCastigo{
    font-size: 1.5em;
    color: white;
}


#TextTipo{
    margin: auto;
    margin-top: 3em;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
    
}

#divisor{
    display: flex;
    flex-direction: row;
}

#tipo{
    margin-top: 0em;
}

#tablero{
    margin: auto;
}



/* Botones */

#divBotones{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#botones{
    
    margin: auto;
    display: flex;
}

#botones button{

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-left: 1em;
    margin-right: 1em;
}

#reto{
    background-color: #e20a0a50;
    border: solid 2px rgba(158, 4, 4, 0.589);
}

#verdad{
    background-color: #3f1c669f;
    border: solid 2px rgba(15, 32, 107, 0.699);
}

.btn-av-disabled{
    
    background-color: #5c565693 !important;
    color: rgba(255, 255, 255, 0.514) !important;
    border: solid #0a0a0a93 2px !important;

    cursor: no-drop;
}

a{
    margin-left: 2%;
}

.neon {
    font-size: 40px;
    letter-spacing:-4px;
    color: #fff;
    text-shadow: 0 0 5px rgb(139, 103, 103), 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
    -webkit-text-fill-color: #7e5fac;
    -webkit-text-stroke-color:#9f26cf;
    -webkit-text-stroke-width:0.2px;
    -moz-text-fill-color: #d9c7f3;
    -moz-text-stroke-color:#7c06aa;
    -moz-text-stroke-width:0.2px;
    }

#howTo{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.774);
}

#howTo-title{
    margin: auto;
    margin-top: 5%;
}

#howTo-list{
    margin: auto;
    margin-top: 5%;
}

#howTo-list li{
    margin-top: 12%;
}

#howTo-list > li:first-child{
    margin-top: 0;
}

#howTo-list dl{
    padding-top: 3%;
}